.wrapper{
    /* old - background-color: #0d0d0d;*/
    background-color: #262626;
    left: 0px;
    right: 0px;
}

span.imp-words{
color:  #00b3b3;
}

/*temp-is for my first index page*/
.temp{
    text-align: center;
    color: #FF4040;
    font-size: 18px;
}

span.index-2{
    color: #FF4040;
}

.content{
    /*margin-left: 25px;
    margin-right: 25px;*/
    padding: 20px 20px 20px 20px;
    /*added */
    background-color: #0d0d0d;
    /*font-family: serif; helvetica*/
    font-family: helvetica;
    padding-bottom: 40px;
    font-size: 19px;
}

#index {
    /*background-color: #ff8c66*/
    background-color: #ff8080;
}

#index-h1{
    color: #ff8080;
}

#index-text{
    color: #ff8080;
}

#past{
    background-color: #aa55aa;
}

#past-h1{
    color: #aa55aa;
}

#past-text{
    color: #aa55aa;
}
#future{
    /*background-color: #ff8c66;*/
    background-color: #FFFF80;
}

#future-text{
    color: #FFFF80;
}

#future-h1{
    color: #FFFF80;
}

#comments{
    background-color: #b3ff66;
}

#comments-text{
    color: #b3ff66;
}

#comments-h1{
    color: #b3ff66;
}

h1{
    color: #00b3b3; /*light bright bule -color pallette*/
     /*color: #00b3b3 sea blue colour -> my favourite*/
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
}

h2{
  font-family: sans-serif;
  text-align: left;
  font-size: 25px;
  /*text-decoration: underline;*/
}

/*p{
    font-family: Verdana;
}*/

body{
    color: #C5C6C7;
    background-color: #0d0d0d; /*greyish*/
}

#index-img{
  float: left;
  /*padding: 5px 5px 5px 5px;*/
  padding-right: 10px;
}

.nav{
    color: blue;
    text-align: center;
}


ul li{
    display: inline;
}

/*link: UTS and Top*/
.footer a{
  color: #b3ff66;
  text-decoration: none;
}

.footer a:hover{
  text-decoration: underline;
  color: #FA6775;
}

.content a{
  color: #b3ff66;
  text-decoration: none;
}

.content a:hover{
  text-decoration: underline;
  color: #FA6775;
}

table, td, th
{ border: 1px solid #404040; }

div.nav li.selected a{

    background-color: #008080;
    color : #03131e ;
    font-weight: bold;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    width: 100px;

}


/*a is for past future comment and home buttonlinks*/
.nav a:link{
    background-color: #00b3b3 ;
    color : #03131e;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    width: 100px;
}

.nav a:visited{
    background-color: #00b3b3;
    color : #03131e;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
      width: 100px;
}

.nav a:hover{
  background-color: #ff8c66;
  text-decoration: underline;
  width: 100px;
}

.footer{

    background-color: #262626;
    height: 50px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    color: #FA6775; /*bubble gum pink*/
}
